.container{
    height: 7rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;

    align-items: center;
    justify-items: center;
}

.container, img{
    height: 9rem;
}